// dark/light mode

/* @function text-clr($color) {
    @if (lightness($color) > 10) {
      @return #000;
    } @else {
      @return #fff;
    }
}
 */
 
@mixin themeMode($lightMode: true) {
    @if $lightMode {
        background-color: $white;
        color: $black;
    } @else {
        color: $gray-200;
    }
    
}