@import '../node_modules/bootstrap/scss/bootstrap.scss';

// HEADER
// visto che nel file da scaricare il menu era già a sinistra, ho voluto provare a metterlo al centro.

// MAIN

main {
    h1 {
        font-size: 3rem;
    }
    p {
        margin: 1.5rem 0;
    } 
}

#services {
    div {
        margin-top: 2.5rem;
    }
    i {
        font-size: 2.5rem;
    }
}

path {
    fill: rgb(255, 109, 96) !important;
}

// FOOTER